*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    
}
body{
       background-image: url(bcg.png); 
       height: 500px;
       text-align: center;
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
    }
center{
    text-align: center;
    width: 100%;
}
.listProdutos{
    padding: 10px;
}
.listProdutos > h1 {
    color: white;
    font-size: 40px;
}
.listProdutos > li{
    margin-top: 15px;
    margin-bottom: 15px;
}
.listProdutos ol{
    padding: 5px;    
}
#res{
    padding-left:100px ;
}
#bts{
    display: none;
}
li{
    list-style: none;
    color: white;

}img{
    display: none;
    max-width: 300px ;
    
}

